@import url(global-application-styles.css);

/* CSS RESET */

/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  /* 4. Add accessible line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 6. Improve media defaults */
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input, button, textarea, select {
  font: inherit;
}

/* 8. Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

/*
  10. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
}


/* VARIABLES */
:root{
  --fontColor: #223125;
  --fontColor2: #725134;
  --fontColor3: #444E27;
  --bgColor: #DEDCCA;
}


/* MAIN STARTING STYLING */
/* PAGE STYLING */
body{
    position: relative;
    background: var(--bgColor);
    color: var(--fontColor);
    font-family: "Chakra Petch";
    display: flex;
    flex-direction: column;
    align-items: center;
    /* border: 2px solid violet; */
    overflow-x: hidden;
    
    
    /* Temporary bottom padding */
    /* padding-bottom: 30%; */

}


/* OUR STORY */
.ourStory{
    /* border: 1px solid blue; */
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;
    justify-content: center;
}

.ourStoryContent{
    display: flex;
    /* border: 1px solid red; */
    width: 52%;
    flex-direction: column;
    margin-left: 8%;
    gap: 30px;
}

.ourStoryContent h2, .ourMission h2, .meetOurTeam h2{
    font-family: "Slackey";
    color: var(--fontColor2);
}

.ourStoryContent p, .ourMissionBottom{
    font-size: 24px;
    line-height: 1.3;
}

.ourStoryImg{
    position: absolute;
    mix-blend-mode: overlay;
    align-self: flex-end;
    z-index: -1;
}


/* OUR MISSION */
.ourMissionSection{
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    /* border: 1px solid olivedrab; */
    gap: 30px;
}

.ourMission{
    display: flex;
    width: 72%;
    text-align: center;
    /* border: 1px solid brown; */
    flex-direction: column;
    align-items: center;
}

.ourMission p{
    font-size: 40px;
    font-family: "Slackey";
    color: var(--fontColor3);
}

.ourMissionBottom{
    /* border: 1px solid darkorange; */
    width: 85%;
}



/* MEET OUR TEAM */
.meetOurTeam{
    width: 100%;
    display: flex;
    /* align-items: center; */
    flex-direction: column;
    /* border: 1px solid blue; */
    margin-top: 3%;
    margin-bottom: 250px;
    height: auto;
}

.heading{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    /* border: 1px solid red; */
    width: 100%;
    padding-left: 7%;
}

.teamCards{
    display: grid;
    /* grid-template-columns: auto auto auto auto; */
    grid-template-columns: repeat(auto-fit, minmax(275px, 1fr));
    grid-template-rows: 1fr 1fr;
    gap: 3%;
    margin-top: 3%;
    /* height: 100%; */
    align-items: center;
    padding-left: 8%;
    padding-right: 8%;
    justify-items: center;
    /* border: 1px solid red; */
    width: 100%;
}



.card{
    height: 352px;
    width: 290px;
    display: flex;
    position: relative;
    flex-direction: column;
    border: 1px solid #223125;
    overflow: hidden;
    border-radius: 50px;
    align-items: center;
}

.cardBg{
    width: 100%;
    height: 100%;
    mix-blend-mode: overlay;
    z-index: -1;
    background: #444E27;
    position: absolute;
}

.profile{
    width: 202px;
    height: 202px;
    background: #444E27;
    border-radius: 100px;
    margin-top: 27px;
    overflow: hidden;
}

.details{
    margin-top: 25px;
    /* border: 1px solid red; */
    width: 85%;
    font-size: 24px;
    color: var(--fontColor);
    margin-left: 25px;
    margin-right: 25px;
    line-height: 1.3;
    font-family: "Chakra Petch";
}

.name{
    font-weight: 1000;
}

.footerBg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;

    /* push the background down slightly without affecting text */
    transform: translateY(20px); /* adjust 5px as needed */
}


/* SMALL LAPTOP BREAK POINT */
@media only screen and (max-width: 1024px) {
    .ourStory{
        align-items: center;
    }

    .ourStoryContent{
        margin-left: 0;
        width: 85%  ;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .ourStoryContent h2, .ourMission h2, .meetOurTeam h2{
        font-size: 48px;
    }

    .ourStoryContent p, .ourMission p, .ourMissionBottom{
        font-size: 20px;
    }
    
    .teamCards{
        margin-bottom: 10%;
    }
    
    .footerBg {
        transform: translateY(35px); /* adjust 5px as needed */
    }
}


/* Mobile Break */
@media only screen and (max-width: 680px) {

    /* our story */
    .ourStoryContent h2, .ourMission h2, .meetOurTeam h2{
        font-size: 28px;
    }

    .teamCards{
        grid-template-columns: repeat(auto-fit, minmax(165px, 1fr));
        padding-left: 1%;
        padding-right: 1%;
    }

    .card{
        height: 218px;
        width: 168px;
        border-radius: 20px;
    }

    .card *{
        /* border: 1px solid blue; */
    }

    .profile{
        width: 134px;
        height: 134px;
        margin-top: 23px;
    }

    .details{
        margin-top: 0;
        font-size: 16px;
    }

    .footerBg {
        transform: translateY(5px); /* adjust 5px as needed */
    }
}



@media only screen and (max-width: 350px) {


    /* OUR STORY / MISSION */
    .ourStoryContent p, .ourMission p, .ourMissionBottom{
        font-size: 15px;
    }
    
    /* MEET OUR TEAM */
    .meetOurTeam{
        margin-bottom: 140%;
    }
    
}