
/* VARIABLES */
:root{
  --fontColor: #223125;
  --fontColor2: #725134;
  --fontColor3: #444E27;
  --bgColor: #DEDCCA;
}

body{
    padding-bottom: 300px;
    padding-top: 100px;
}

a{
  text-decoration: none;
  color: inherit;
}


/* NAV STYLING */

/* turning off mobile elements */
.burgerMenuCon{
    display: none;
}

.navMobileSlide{
  display: none;
  top: 0;
  padding-top: 85px;
    /* padding-bottom: 5%; */
    position: absolute;
    /* height: 500px; */
    /* background-image: url("images/homeImages/nav\ slider\ bg.webp"); */
    background-repeat: no-repeat;
    background-size: cover;  
    background-position: center center;
    width: 100%;
    display: none;
    flex-direction: column;
    align-items: center;
    z-index: 2;
    border-radius: 20px;
    color: #223125;
    box-shadow: 4px 1px 10px black;
    z-index: 200;
}


.nav{
    top: 0;
  position: absolute;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  height: 81px;
  font-family: "Chakra Petch";
  color: var(--fontColor); 
  font-size: 20px;
  border-radius: 0px 0px 65px 65px;
  width: 80%;
  background: var(--bgColor);
  z-index: 4;
  box-shadow: 1px 2px 10px rgb(65, 65, 65);
  z-index: 1000;
}

.navLogo{
  display: flex;
  align-items: center;
  justify-content: center;

}
.mainNav{
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  gap: 4%;
  width: 100%;
  /* border: 2px solid pink; */
  height: 100%;
}

.navControls{
  display: flex;
  align-items: center;
  gap: 10%;
  justify-content: flex-end;
  padding-right: 20%;
}

.nav p{
  transition: .2s;
  cursor: pointer;
}

.nav p:hover{
  transform: scale(1.3);
}





/* FOOTER */

.grassFooter{
  position: absolute;
  bottom: 0;
  z-index: -3;
  /* background-image: url("images/homeImages/grass-footer.webp");
  background-repeat: no-repeat;
  background-size: cover;  
  background-position: center center; */
  width: 100%;
  opacity: .5;
  /* height: 800px; */
}

.footerBg{
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #3F6032;
  mix-blend-mode: multiply;
  z-index: -1;
}

.HomeFooter{
  position: absolute;
  /* border: 2px solid red; */
  width: 100%;
  height: 217px;
  display: grid;
  grid-template-columns: 4fr 1fr 1.5fr 2fr;
  color: var(--bgColor);
  font-size: 13px;
  bottom: 0;
}

.HomeFooter div{
  /* border: 1px blue solid; */
}

.foot1{
  display: grid;
  grid-template-rows: 1.5fr 1fr;
}

.footLogo{
  /* border: 1px solid green; */
  width: 70%;
}

.footerLogoIcons{
  display: flex;
  align-items: flex-end;
  justify-content: center;
  padding-left: 10%;
  gap: 4%;
  padding-bottom: 1%;
}

.smallIconsCon{
  gap: 6%;
  display: flex;
  margin-bottom: .5%;
  width: 100%;
}

.foot1Text, .bottomFoot1Text{
  display: flex;
  align-items: center;
  padding-left: 10%;
  line-height: 1.3;
  margin-bottom: 1%;
}

/* disabling mobile elements */
.bottomFoot1Text{
  display: none;
}

.foot2, .foot3, .foot4{
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding-top: 7vh;
}



/* NAV BREAK POINT */
@media only screen and (max-width: 1170px) {
  .nav{
    width: 100%;
  }
}





/* NAV / footer for tablet and breaking point of small laptop */
@media only screen and (max-width: 930px) {

  /* HTML BODY */
  html, body{
    overflow-x: hidden;
  }


  /* NAV */
  /* turning off mobile designs */
  
  
  .nav{
    width: 100%;
    grid-template-columns: .9fr 1.9fr .5fr;
  }

  .mainNav{
    gap: 3%;
    font-size: 18px;
  }

  .navLogo{
    justify-content: flex-end;
  }

  .navControls{
    gap: 7%;
  }

  
  /* FOOTER */
  .HomeFooter{
    font-size: 11px;
    grid-template-columns: 4fr 1fr 1.5fr 3fr;
    height: 160px;
  }

  .HomeFooter div{
    /* border: 1px solid blue; */
  }

  .foot1{
    grid-template-rows: 1fr 1fr;
  }

  .foot1Text{
    margin-bottom: 0;
  }

  .footerLogoIcons{
    align-items: flex-end;
    gap: 2%;
  }

  .footLogo{
    width: 50%;
  }

  .smallIconsCon{
    width: 100%;
    gap: 10%;
  }
}




/* collapse nav Break Point */
@media only screen and (max-width: 700px) {
  
  .nav{
    grid-template-columns: 1fr 2fr 1fr;
    box-shadow: 4px 1px 10px gray;
  }

  .nav div{
    /* border: 1px solid blue; */
  }

  .mainNav{
    display: none;
  }

  .burgerMenuCon{
    display: flex;
    justify-content: flex-start;
    margin-left: 45px;
    align-content: center;
    cursor: pointer;
  }

  .burgerMenuBtn{
    display: flex;
    flex-direction: column;
    width: 35px;
    position: relative;
    transition: .2s;
  }

  .burgerMenuBtn div{
    border: none;
    width: 100%;
    height: 4px;
    background: #223125;
    margin-top: 3px;
    margin-bottom: 3px;
    border-radius: 2px;
    transition: .6s;
    transition-timing-function: ease;
  }

  .burgerActive{
    justify-content: center;
  }

  .burgerActive div:first-child{
    position: absolute;
    transform: rotate(45deg);
    align-self: center;
  }

  .burgerActive div:last-child{
    position: absolute;
    transform: rotate(-45deg);
    align-self: center;
  }

  .burgerActive div:nth-child(2){
    opacity: 0;
  }
  


  .navMobileSlide{
    padding-top: 85px;
    /* padding-bottom: 5%; */
    position: absolute;
    /* height: 500px; */
    /* background-image: url("images/homeImages/nav\ slider\ bg.webp"); */
    width: 100%;
    display: none;
    flex-direction: column;
    align-items: center;
    z-index: 2;
    border-radius: 20px;
    color: #223125;
    background: #f0f1df;
    font-weight: 1000;
    z-index: 200;
  }

  .navMobileSlide div{
    border-bottom: solid 2px #223125;
    height: 50px;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .navMobileSlide div:last-child{
    border: none;
  }

  .appear{
    display: flex;
  }

  .navLogo{
    grid-template-columns: 2;
    justify-content: center;
  }


  /* FOOTER */
  .HomeFooter{
    grid-template-columns: 1fr 1fr 3fr 2fr;
    grid-row: 1 1fr;
    height: auto;
    text-align: center;
  }

  .foot1{
    grid-row: 1;
    grid-column: 3;
  }

  .foot2, .foot3, .foot4{
    padding-top: 5vh;
    align-items: flex-start;
  }

  .footerLogoIcons{
    flex-direction: column;
    align-items: center;
    padding-left: 0;
    grid-row: 1 / 3;
  }

  .smallIconsCon{
    width: 60%;
  }

  .smallIconsCon img{
    width: 100%;
  }

  .foot1Text{
    display: none;
  }

  .bottomFoot1Text{
    align-items: center;
    text-align: center;
    display: flex;
    grid-row: 2;
    grid-column: 1 / 5;
  }

  .footLogo{
    width: 90%;
  }

  .smallIconsCon{
    justify-content: center;
  }

  .foot2{
    grid-column: 1;
  }

  .foot3{
    grid-column: 2;
  }

  .foot4{
    grid-column: 4;
  }
}


@media only screen and (max-width: 451px){
    /* footer */
    .HomeFooter{
        font-size: 6px;
    }
}



 